* {
    box-sizing: border-box;
}    

body {
    margin: 0;
    background: no-repeat center center fixed; 
    background-color: #181a1b;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
}

div#stock {
    font-size: 1.3rem;
}

input#stock-symbol, #new-todo {
    color: lightgrey;
    background-color: #3b3b3b;
}

input#stock-symbol {
    margin-bottom: 0;
}

#stock-result {
    background-color: #181a1b;
    border-radius: 8px;
}

#stock-result p {
    font-size: 1rem;
    padding: 10px;
    margin: 0;
    line-height: 1.5em;
}

div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    margin-top: -20px;
}

div#weather > img {
    width: 70px;
}

p.weather-city {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -10px;
    font-size: 1.2rem;
}

p.weather-temp {
    margin: 0;
    font-size: 1.7rem;
    margin-left: -10px;
}

/* Middle Styling */
div.middle {
    display:flex;
    flex-direction: column;
    align-items:center;
}

h1.time {
    text-align: center;
    font-size: 7rem;
    margin: 0;
}

h2.quote {
    margin: 0;
    font-size: 1.75rem;
    max-width: 70%;
    text-align: center;
}

p.quote-author {
    margin: 1em;
}

/* Bottom Styling */
div.bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

p#author:hover {
    cursor: pointer;
}

.todo-wrapper {
    max-width: 300px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-self: flex-end;
    background-color: #181a1b;
}

.todo-header {
    padding-left: 25px;
    border-bottom: 1px solid white;
}

ul#todo-list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.todo-item {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-text {
    margin: 10px 10px 10px 0;
}

.add-todo {
    padding: 10px;
    box-sizing: border-box;
}